/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Outfit:wght@100..900&display=swap');
.thin {
    font-weight: 100;
    font-style: normal;
}

.light {
    font-weight: 300;
    font-style: normal;
}

* {
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: 700;
    font-style: normal;
}

.black {
    font-weight: 900;
    font-style: normal;
}

.thin-italic {
    font-weight: 100;
    font-style: italic;
}

.light-italic {
    font-weight: 300;
    font-style: italic;
}

.italic {
    font-weight: 400;
    font-style: italic;
}

.bold-italic {
    font-weight: 700;
    font-style: italic;
}

.black-italic {
    font-weight: 900;
    font-style: italic;
}


/*CSS*/

:root {
    --primary-color: #615944;
    --secondary-color: #beac8b;
    --terciary-color: #8a5834;
    --quaternary-color: #1c160f;
    --background-color: #e1d7bf;
    --text-color-primary: #1c160f;
    --text-color-secondary: #e1d7bf;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


/* Asegura que el body ocupe toda la pantalla */

html,
body {
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    /* 100% del alto de la ventana */
    display: flex;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
    background-color: var(--background-color);
    /* Ejemplo de color de fondo */
}

#root {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    justify-content: initial;
}

.normal {
    display: flex;
}